*
!.Xdefaults
!.config/Code/User/settings.json
!.config/compton.conf
!.config/dunst/dunstrc
!.config/fontconfig/fonts.conf
!.config/gtk-3.0/settings.ini
!.config/htop/htoprc
!.config/i3/config
!.config/i3status/config
!.config/lxterminal/lxterminal.conf
!.config/mimeapps.list
!.config/mpv/lua-settings/osc.conf
!.config/mpv/mpv.conf
!.config/pcmanfm/default/pcmanfm.conf
!.config/qt5ct/qt5ct.conf
!.config/redshift.conf
!.config/user-dirs.dirs
!.dmrc
!.gitconfig
!.gitignore
!.gtkrc-2.0
!.profile
!.scripts/i3status.sh
!.scripts/refresh_i3status.sh
!.ssh/config
!.tmux.conf
!.vimrc
!.xprofile
!.zshrc
