*
!.config/Code/User/settings.json
!.config/mpv/lua-settings/osc.conf
!.config/redshift.conf
!.config/user-dirs.dirs
!.gitconfig
!.local/bin/serve
!.local/bin/gopath
!.ssh/config
!.scimrc
!.tmux.conf
!.vimrc
!.xprofile
!.zshrc
