*
!.Xresources
!.config/Code/User/settings.json
!.config/cmus/lib.pl
!.config/dunst/dunstrc
!.config/fontconfig/fonts.conf
!.config/gtk-3.0/settings.ini
!.config/htop/htoprc
!.config/i3/config
!.config/i3status/config
!.config/mimeapps.list
!.config/mpv/mpv.conf
!.config/qt5ct/qt5ct.conf
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/redshift.conf
!.config/rofi/config
!.config/user-dirs.dirs
!.config/zathura/zathurarc
!.dmrc
!.gitconfig
!.gitignore
!.gtkrc-2.0
!.local/share/applications/chromium.desktop
!.local/share/applications/vim.desktop
!.local/share/ranger/bookmarks
!.profile
!.scripts/backup.sh
!.scripts/backup_exclude
!.scripts/i3status.sh
!.scripts/refresh_i3status.sh
!.scripts/vtwheel
!.scripts/yaupg.sh
!.ssh/config
!.vimrc
!.xprofile
!.zshrc
