Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

URxvt.font:         xft:Monospace:size=9
URxvt.letterSpace: -1

URxvt.saveLines:                1000
URxvt.scrollBar:                false
URxvt.geometry:                 120x40
URxvt.urgentOnBell:             true
URxvt.perl-ext-common:          default,vtwheel
URxvt.iso14755:                 false
URxvt.keysym.Shift-Control-V:   eval:paste_clipboard
URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard

*.foreground:  #333333
*.background:  #ffffff
! Black
*.color0:      #333333
*.color8:      #000000
! Red
*.color1:      #c82829
*.color9:      #c82829
! Green
*.color2:      #718c00
*.color10:     #718c00
! Yellow
*.color3:      #eab700
*.color11:     #eab700
! Blue
*.color4:      #4271ae
*.color12:     #4271ae
! Magenta
*.color5:      #8959a8
*.color13:     #8959a8
! Cyan
*.color6:      #3e999f
*.color14:     #3e999f
! White
*.color7:      #eeeeee
*.color15:     #ffffff
