Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

URxvt.font:         xft:Monospace:size=9
URxvt.letterSpace: -1

URxvt.saveLines:                1000
URxvt.scrollBar:                false
URxvt.geometry:                 120x40
URxvt.urgentOnBell:             true
URxvt.perl-ext-common:          default,vtwheel
URxvt.iso14755:                 false
URxvt.keysym.Shift-Control-V:   eval:paste_clipboard
URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard

#include ".xrdb/colors/tomorrow"
