window#waybar {
    background-color: #222222;
    color: #ffffff;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
    transition-property: none;
    background-color: #203f66;
}

#workspaces button {
    color: #ffffff;
    min-height: 0;
}

#workspaces button.visible, #mode {
    background-color: #5f676a;
}

#workspaces button.focused.current_output {
    background-color: #3465a4;
}

#workspaces button.urgent {
    background-color: #900000;
}

#workspaces button,
#clock,
#language,
#idle_inhibitor,
#cpu,
#temperature,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#scratchpad,
#custom-media {
    padding: 0 8px;
    font-family: monospace;
    font-size: 12px;
}

#tray {
    font-family: sans;
    font-size: 13px;
}

#network.disconnected,
#battery.critical:not(.charging),
#temperature.critical {
    color: #ff6666;
}

#pulseaudio.muted {
    color: #d9a401;
}
