headerbar {
  min-height: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}

headerbar button.titlebutton {
  min-height: 20px;
  min-width: 20px;
  padding: 0;
  margin: 0;
}

header.top button {
  padding: 0 0 0 0;
  background-image: none;
  border: 0;
  margin-right: 10px;
}

header.top > tabs > tab {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

header.top > tabs > tab label {
  padding: 0 10px 0 10px;
  margin: 0 0 0 0;
}
