[Desktop Entry]
Type=Application
Exec=bash -ic "foot -a cmus cmus & sleep 0.1; cmus-refresh; sleep 0.5; cmus-remote -C player-next; cmus-remote -C player-play"
Icon=audio-speakers
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=media;player;audio;
Name=cmus
GenericName=Music player
Comment=Music player
