[Desktop Entry]
Type=Application
Exec=bash -ic cmus-start
Icon=audio-x-generic
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=media;player;audio;
Name=cmus
GenericName=Music player
Comment=Music player
