[Desktop Entry]
Name=Viber
Comment=Viber VoIP and messenger
Exec=sh -c "QT_QPA_PLATFORM=wayland viber %u"
Icon=/opt/viber/icons/256x256.png
Terminal=false
Type=Application
Categories=Network;InstantMessaging;P2P;
MimeType=x-scheme-handler/viber;
