[Desktop Entry]
Name=Signal
Exec=/opt/Signal/signal-desktop --ozone-platform=wayland --password-store=gnome --use-tray-icon --no-sandbox %U
Terminal=false
Type=Application
Icon=signal-desktop
StartupWMClass=signal
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Categories=Network;InstantMessaging;Chat;
