:root[uidensity="compact"] .tab-icon-stack[indicator-replaces-favicon] > :not(.tab-icon-overlay) {
  opacity: 1 !important;
}

.tab-icon-overlay[soundplaying], .tab-icon-overlay[activemedia-blocked] {
  top: -5.5px;
  inset-inline-end: -6px;
  z-index: 1;
  padding: 2px !important;
  stroke: var(--tab-icon-overlay-stroke, white) !important;
  color: var(--tab-icon-overlay-fill, black);
  fill-opacity: 1 !important;
}

.tab-icon-overlay[soundplaying]:hover, .tab-icon-overlay[activemedia-blocked]:hover {
  background-color: var(--tab-icon-overlay-stroke, white) !important;
}
